<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712674806222-ug9egd9anspd1fl11e7ffjh1ha9bhk2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712674806222-ug9egd9anspd1fl11e7ffjh1ha9bhk2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAlMwyWhVjZT6W-lZrQwuzjIx1PT9jdPT0</string>
	<key>GCM_SENDER_ID</key>
	<string>712674806222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pawPrints</string>
	<key>PROJECT_ID</key>
	<string>pawprints-934b4</string>
	<key>STORAGE_BUCKET</key>
	<string>pawprints-934b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712674806222:ios:211d379b2c0dd200bd439f</string>
</dict>
</plist>